@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:300,500italic,300italic,400italic,100italic,100,500,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400);
body {
  font-family: 'Open Sans', 'Roboto Slab', 'Roboto', sans-serif;
  font-weight: 400; }
  body.f-topbar-fixed {
    padding-top: 0px; }

a {
  color: #00a4ff; }
  a:hover {
    color: #0083cc; }

p, h1, h2, h3, h4, h5, h6 {
  color: #888888; }

*::selection {
  background-color: #00a4ff;
  color: #fff; }

.margintop0 {
  margin-top: 0px; }

.margintop1 {
  margin-top: 10px; }

.margintop2 {
  margin-top: 20px; }

.margintop3 {
  margin-top: 30px; }

.margintop4 {
  margin-top: 40px; }

.margintop5 {
  margin-top: 50px; }

.margintop6 {
  margin-top: 60px; }

.margintop7 {
  margin-top: 70px; }

.margintop8 {
  margin-top: 80px; }

.margintop9 {
  margin-top: 90px; }

.margintop10 {
  margin-top: 100px; }

.marginbottom0 {
  margin-bottom: 0px; }

.marginbottom1 {
  margin-bottom: 10px; }

.marginbottom2 {
  margin-bottom: 20px; }

.marginbottom3 {
  margin-bottom: 30px; }

.marginbottom4 {
  margin-bottom: 40px; }

.marginbottom5 {
  margin-bottom: 50px; }

.marginbottom6 {
  margin-bottom: 60px; }

.marginbottom7 {
  margin-bottom: 70px; }

.marginbottom8 {
  margin-bottom: 80px; }

.marginbottom9 {
  margin-bottom: 90px; }

.marginbottom10 {
  margin-bottom: 100px; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.robotoslab {
  font-family: 'Roboto Slab'; }

.xxl-text {
  font-size: 4.500em; }

.xl-text {
  font-size: 3.000em; }

.l-text {
  font-size: 2.250em; }

.m-text {
  font-size: 1.500em; }

.s-text {
  font-size: 1.125em; }

.xs-text {
  font-size: 0.875em; }

.xxs-text {
  font-size: 0.688em; }

.blue-text {
  color: #0094e6; }

.white-text {
  color: #fff; }

.light-text {
  color: #e1e1e1; }

.grey-text {
  color: #888888; }

.black-text {
  color: #000; }

.deadblue-text {
  color: #546588; }

img.round {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }
img.radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
img.fullwidthimage {
  width: 100%;
  height: auto; }

textarea.no-resize {
  resize: none; }

.transparent-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 1; }
  .transparent-overlay.deadblue {
    background-color: #2d3649; }

button.white, .button.white {
  background-color: #fff;
  border-color: #eee;
  color: #666; }

button.white:hover, button.white:focus, .button.white:hover, .button.white:focus {
  background-color: #f2f2f2; }

.fly-in-plugin {
  overflow: hidden; }
  .fly-in-plugin .ffb {
    opacity: 0;
    transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    transform: translateY(100px) scale(1) translate3d(0, 0, 0);
    -moz-transform: translateY(100px) scale(1) translate3d(0, 0, 0);
    -ms-transform: translateY(100px) scale(1) translate3d(0, 0, 0);
    -o-transform: translateY(100px) scale(1) translate3d(0, 0, 0);
    -webkit-transform: translateY(100px) scale(1) translate3d(0, 0, 0); }
  .fly-in-plugin .ffl {
    opacity: 0;
    transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    transform: translateX(-100px) scale(1) translate3d(0, 0, 0);
    -moz-transform: translateX(-100px) scale(1) translate3d(0, 0, 0);
    -ms-transform: translateX(-100px) scale(1) translate3d(0, 0, 0);
    -o-transform: translateX(-100px) scale(1) translate3d(0, 0, 0);
    -webkit-transform: translateX(-100px) scale(1) translate3d(0, 0, 0); }
  .fly-in-plugin .fft {
    opacity: 0;
    transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    transform: translateY(-100px) scale(1) translate3d(0, 0, 0);
    -moz-transform: translateY(-100px) scale(1) translate3d(0, 0, 0);
    -ms-transform: translateY(-100px) scale(1) translate3d(0, 0, 0);
    -o-transform: translateY(-100px) scale(1) translate3d(0, 0, 0);
    -webkit-transform: translateY(-100px) scale(1) translate3d(0, 0, 0); }
  .fly-in-plugin .ffr {
    opacity: 0;
    transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -ms-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    transform: translateX(100px) scale(1) translate3d(0, 0, 0);
    -moz-transform: translateX(100px) scale(1) translate3d(0, 0, 0);
    -ms-transform: translateX(100px) scale(1) translate3d(0, 0, 0);
    -o-transform: translateX(100px) scale(1) translate3d(0, 0, 0);
    -webkit-transform: translateX(100px) scale(1) translate3d(0, 0, 0); }
  .fly-in-plugin .show-block {
    opacity: 1;
    transform: translateY(0) scale(1) translate3d(0, 0, 0);
    -moz-transform: translateY(0) scale(1) translate3d(0, 0, 0);
    -ms-transform: translateY(0) scale(1) translate3d(0, 0, 0);
    -o-transform: translateY(0) scale(1) translate3d(0, 0, 0);
    -webkit-transform: translateY(0) scale(1) translate3d(0, 0, 0); }

.nav-bar.large.fixed, .nav-bar.large .nav-bar-inner ul.menu li ul.submenu > li > a, .nav-bar.small .nav-bar-inner ul.menu li, .section.side-padded, .section.less-padding.side-padded, .site-container.user .edit-profile-options .edit-option li, .site-container.user .suggested-connections > ul li, .site-container.user .suggested-connections > ul li .conn-data, .site-container.user .experience-list li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.nav-bar {
  position: relative;
  float: left;
  width: 100%;
  height: 80px;
  z-index: 100;
  background-color: #00a4ff; }
  .nav-bar.transparent {
    position: absolute;
    background-color: none;
    background: none;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease; }
    .nav-bar.transparent.fixed {
      background-color: #00a4ff;
      height: 60px;
      padding: 0px 0px; }
  .nav-bar.white {
    background-color: #fff;
    background: #fff;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease; }
    .nav-bar.white .nav-bar-inner a {
      color: #888888; }
    .nav-bar.white .nav-bar-inner ul.logo-area li.name a {
      color: #00a4ff; }
    .nav-bar.white .nav-bar-inner ul.menu li a {
      color: #888888; }
    .nav-bar.white.fixed {
      background-color: #00a4ff;
      height: 60px;
      padding: 0px 0px; }
      .nav-bar.white.fixed a {
        color: #fff; }
      .nav-bar.white.fixed ul.logo-area li.name a {
        color: #fff; }
      .nav-bar.white.fixed ul.menu li a {
        color: #fff; }
  .nav-bar.fixed {
    background-color: #00a4ff;
    height: 60px;
    padding: 0px 0px;
    opacity: 0.9; }
  .nav-bar.large {
    padding: 10px 70px; }
    .nav-bar.large.fixed {
      position: fixed;
      height: 60px;
      padding: 0px 70px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .nav-bar.large .nav-bar-inner {
      position: relative;
      float: left;
      width: 100%;
      height: 60px; }
      .nav-bar.large .nav-bar-inner a {
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        /* Fix for IE7 */
        *display: inline;
        /* Fix for IE7 */
        color: white;
        height: 60px; }
      .nav-bar.large .nav-bar-inner .topbar-search-form {
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        /* Fix for IE7 */
        *display: inline;
        /* Fix for IE7 */
        margin-bottom: 0px;
        margin-top: 10px;
        width: 40%; }
        .nav-bar.large .nav-bar-inner .topbar-search-form input[type="text"] {
          background: none;
          color: #fff;
          border: solid 1px #fff;
          width: 100%; }
      .nav-bar.large .nav-bar-inner ul.logo-area {
        position: relative;
        float: left;
        margin: 0px;
        list-style: none; }
        .nav-bar.large .nav-bar-inner ul.logo-area li.name {
          padding: 0px 20px;
          display: inline-block;
          vertical-align: top;
          zoom: 1;
          /* Fix for IE7 */
          *display: inline;
          /* Fix for IE7 */
          line-height: 60px;
          height: 60px;
          font-size: 18px;
          font-weight: bold; }
      .nav-bar.large .nav-bar-inner ul.menu {
        position: relative;
        margin: 0px;
        list-style: none; }
        .nav-bar.large .nav-bar-inner ul.menu li {
          padding: 0px 20px;
          display: inline-block;
          vertical-align: top;
          zoom: 1;
          /* Fix for IE7 */
          *display: inline;
          /* Fix for IE7 */
          line-height: 60px;
          height: 60px;
          font-size: 14px; }
          .nav-bar.large .nav-bar-inner ul.menu li.user-menu > a {
            padding: 0px 8px;
            display: inline-block;
            vertical-align: top;
            zoom: 1;
            /* Fix for IE7 */
            *display: inline;
            /* Fix for IE7 */
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            height: 40px;
            margin-top: 10px;
            line-height: 40px;
            color: #fff;
            font-weight: bold;
            font-size: 16px; }
            .nav-bar.large .nav-bar-inner ul.menu li.user-menu > a img {
              display: inline-block;
              vertical-align: top;
              zoom: 1;
              /* Fix for IE7 */
              *display: inline;
              /* Fix for IE7 */
              height: 40px;
              width: 40px; }
          .nav-bar.large .nav-bar-inner ul.menu li.round-outline-link a {
            padding: 0px 8px;
            display: inline-block;
            vertical-align: top;
            zoom: 1;
            /* Fix for IE7 */
            *display: inline;
            /* Fix for IE7 */
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            height: 40px;
            margin-top: 10px;
            line-height: 40px;
            color: #fff;
            background: #7fb423;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            .nav-bar.large .nav-bar-inner ul.menu li.round-outline-link a:hover {
              background: #709f1f;
              color: #fff; }
          .nav-bar.large .nav-bar-inner ul.menu li.deadlink a {
            color: #0094e6; }
          .nav-bar.large .nav-bar-inner ul.menu li ul.submenu {
            position: absolute;
            top: 100%;
            margin: 0px;
            list-style: none;
            background-color: #fff;
            display: none; }
            .nav-bar.large .nav-bar-inner ul.menu li ul.submenu > li {
              position: relative;
              float: left;
              width: 100%;
              height: 40px;
              margin: 0px 0px;
              padding: 0px 0px; }
              .nav-bar.large .nav-bar-inner ul.menu li ul.submenu > li > a {
                position: relative;
                float: left;
                width: 100%;
                height: 40px;
                padding: 0px 10px;
                color: #666;
                line-height: 40px; }
                .nav-bar.large .nav-bar-inner ul.menu li ul.submenu > li > a:hover {
                  color: #0094e6; }
          .nav-bar.large .nav-bar-inner ul.menu li:hover ul.submenu {
            display: block; }
  .nav-bar.small {
    position: relative;
    height: 60px; }
    .nav-bar.small.fixed {
      position: fixed;
      height: 60px; }
    .nav-bar.small .nav-bar-inner {
      position: relative;
      float: left;
      width: 100%; }
      .nav-bar.small .nav-bar-inner a {
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        /* Fix for IE7 */
        *display: inline;
        /* Fix for IE7 */
        color: white;
        width: 100%;
        text-align: center; }
      .nav-bar.small .nav-bar-inner .menu-toggler {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 60px;
        line-height: 60px;
        font-size: 24px; }
        .nav-bar.small .nav-bar-inner .menu-toggler span {
          display: inline-block;
          vertical-align: top;
          zoom: 1;
          /* Fix for IE7 */
          *display: inline;
          /* Fix for IE7 */
          color: white;
          width: 100%;
          text-align: center;
          cursor: pointer; }
      .nav-bar.small .nav-bar-inner ul.logo-area {
        position: relative;
        float: left;
        width: 100%;
        margin: 0px;
        list-style: none;
        height: 60px; }
        .nav-bar.small .nav-bar-inner ul.logo-area li.name {
          padding: 0px 20px;
          display: inline-block;
          vertical-align: top;
          zoom: 1;
          /* Fix for IE7 */
          *display: inline;
          /* Fix for IE7 */
          line-height: 60px;
          height: 60px;
          font-size: 18px;
          width: 100%;
          font-weight: bold; }
          .nav-bar.small .nav-bar-inner ul.logo-area li.name a {
            height: 60px; }
      .nav-bar.small .nav-bar-inner ul.menu {
        position: relative;
        float: left;
        width: 100%;
        margin: 0px;
        list-style: none;
        display: none;
        background-color: #0094e6;
        background: #0094e6;
        padding: 10px 0px 20px 0px; }
        .nav-bar.small .nav-bar-inner ul.menu li {
          padding: 0px 20px;
          display: inline-block;
          vertical-align: top;
          zoom: 1;
          /* Fix for IE7 */
          *display: inline;
          /* Fix for IE7 */
          line-height: 40px;
          height: 40px;
          width: 100%;
          font-size: 14px; }
          .nav-bar.small .nav-bar-inner ul.menu li.round-outline-link a {
            padding: 0px 8px;
            display: inline-block;
            vertical-align: top;
            zoom: 1;
            /* Fix for IE7 */
            *display: inline;
            /* Fix for IE7 */
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            height: 40px;
            margin-top: 10px;
            line-height: 40px;
            color: #fff;
            background: #7fb423;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            .nav-bar.small .nav-bar-inner ul.menu li.round-outline-link a:hover {
              background: #709f1f;
              color: #fff; }

.section {
  position: relative;
  float: left;
  width: 100%;
  padding: 40px 0px;
  background-color: #fff; }
  .section.grey {
    background-color: #eee; }
  .section.dark {
    background-color: #333;
    color: #eee; }
    .section.dark p, .section.dark h1, .section.dark h2, .section.dark h3, .section.dark h4, .section.dark h5, .section.dark h6 {
      color: #eee; }
    .section.dark input.naked {
      background-color: #262626;
      background: #262626;
      color: gainsboro;
      border: none;
      margin-bottom: 0px;
      padding: 5px 10px; }
      .section.dark input.naked:focus {
        -webkit-box-shadow: 0px 0px 0px #333;
        -moz-box-shadow: 0px 0px 0px #333;
        -ms-box-shadow: 0px 0px 0px #333;
        -o-box-shadow: 0px 0px 0px #333;
        box-shadow: 0px 0px 0px #333; }
  .section.blue {
    background-color: #00a4ff;
    color: #fff; }
    .section.blue p, .section.blue h1, .section.blue h2, .section.blue h3, .section.blue h4, .section.blue h5, .section.blue h6 {
      color: #fff; }
  .section.darkblue {
    background-color: #0094e6;
    color: #fff; }
    .section.darkblue p, .section.darkblue h1, .section.darkblue h2, .section.darkblue h3, .section.darkblue h4, .section.darkblue h5, .section.darkblue h6 {
      color: #fff; }
  .section.bordered {
    border: solid 1px #eee; }
    .section.bordered.hover-effect {
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
      .section.bordered.hover-effect:hover {
        border-color: #d4d4d4; }
  .section .underlined {
    border-bottom: solid 1px #eee; }
  .section .overlined {
    border-top: solid 1px #eee; }
  .section.underlined {
    border-bottom: solid 1px #eee; }
  .section.side-padded {
    padding: 40px 40px; }
  .section.less-padding {
    padding: 20px 0px; }
    .section.less-padding.side-padded {
      padding: 20px 20px; }
  .section.no-padding {
    padding: 0px 0px; }
  .section.radius {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-bottom-left-radius: 3px;
    -moz-border-bottom-right-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -moz-border-top-right-radius: 3px;
    -ms-border-bottom-left-radius: 3px;
    -ms-border-bottom-right-radius: 3px;
    -ms-border-top-left-radius: 3px;
    -ms-border-top-right-radius: 3px;
    -o-border-bottom-left-radius: 3px;
    -o-border-bottom-right-radius: 3px;
    -o-border-top-left-radius: 3px;
    -o-border-top-right-radius: 3px; }
  .section.radius2 {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
    -ms-border-bottom-left-radius: 6px;
    -ms-border-bottom-right-radius: 6px;
    -ms-border-top-left-radius: 6px;
    -ms-border-top-right-radius: 6px;
    -o-border-bottom-left-radius: 6px;
    -o-border-bottom-right-radius: 6px;
    -o-border-top-left-radius: 6px;
    -o-border-top-right-radius: 6px; }

.site-container {
  position: relative;
  float: left;
  width: 100%; }
  .site-container .footer {
    position: relative;
    float: left;
    width: 100%;
    background-color: #333;
    color: #6e6e6e; }
    .site-container .footer .nav {
      background-color: #262626; }
      .site-container .footer .nav a {
        color: #6e6e6e; }
        .site-container .footer .nav a:hover {
          color: #bbbbbb; }
      .site-container .footer .nav .large a {
        padding: 0px 20px; }
      .site-container .footer .nav .small a {
        width: 100%; }
  .site-container.user .profile-bg .profile-bg-olay {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #000;
    opacity: 0.6; }
  .site-container.user .edit-profile-options {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 10; }
    .site-container.user .edit-profile-options .edit-option {
      position: absolute;
      top: 100%;
      float: left;
      width: 128px;
      background-color: #fff;
      margin: 0px;
      list-style: none;
      overflow: hidden;
      display: none;
      border-bottom-left-radius: 1px;
      border-bottom-right-radius: 1px;
      border-top-left-radius: 0px;
      border-top-right-radius: 1px;
      -webkit-border-bottom-left-radius: 1px;
      -webkit-border-bottom-right-radius: 1px;
      -webkit-border-top-left-radius: 0px;
      -webkit-border-top-right-radius: 1px;
      -moz-border-bottom-left-radius: 1px;
      -moz-border-bottom-right-radius: 1px;
      -moz-border-top-left-radius: 0px;
      -moz-border-top-right-radius: 1px;
      -ms-border-bottom-left-radius: 1px;
      -ms-border-bottom-right-radius: 1px;
      -ms-border-top-left-radius: 0px;
      -ms-border-top-right-radius: 1px;
      -o-border-bottom-left-radius: 1px;
      -o-border-bottom-right-radius: 1px;
      -o-border-top-left-radius: 0px;
      -o-border-top-right-radius: 1px; }
      .site-container.user .edit-profile-options .edit-option li {
        position: relative;
        float: left;
        width: 100%;
        padding: 5px 8px;
        font-weight: bold; }
  .site-container.user .profile-menu {
    position: relative;
    margin: 0px;
    list-style: none; }
    .site-container.user .profile-menu li {
      position: relative;
      float: left;
      border-top: solid 5px #0094e6;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .site-container.user .profile-menu li:hover {
        border-top: solid 5px #7fb423; }
      .site-container.user .profile-menu li.active {
        border-top: solid 5px #7fb423; }
      .site-container.user .profile-menu li a {
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        /* Fix for IE7 */
        *display: inline;
        /* Fix for IE7 */
        padding: 12px 18px;
        color: #888888;
        font-weight: 400; }
  .site-container.user .main-profile-pic {
    border: solid 5px #e1e1e1; }
  .site-container.user .suggested-connections > ul {
    position: relative;
    float: left;
    width: 100%;
    margin: 0px 0px;
    list-style: none; }
    .site-container.user .suggested-connections > ul li:last-child {
      border-bottom: none; }
    .site-container.user .suggested-connections > ul li {
      position: relative;
      float: left;
      width: 100%;
      margin: 0px 0px;
      padding: 10px 12px;
      border-bottom: solid 1px #eee; }
      .site-container.user .suggested-connections > ul li .conn-cancel {
        position: absolute;
        right: 12px;
        top: 10px;
        height: 18px;
        width: 18px;
        line-height: 18px;
        text-align: center;
        background-color: #c8c8c8;
        color: #fff;
        font-size: 0.688em;
        font-weight: 100;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        border-radius: 100%;
        opacity: 0.6;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        z-index: 20; }
        .site-container.user .suggested-connections > ul li .conn-cancel:hover {
          opacity: 1; }
      .site-container.user .suggested-connections > ul li .conn-image {
        position: relative;
        float: left;
        width: 30%; }
      .site-container.user .suggested-connections > ul li .conn-data {
        position: relative;
        float: left;
        width: 70%;
        padding-left: 10px; }
      .site-container.user .suggested-connections > ul li .conn-button {
        position: relative;
        float: left;
        width: 100%; }
  .site-container.user .profile-section .add-button {
    position: absolute;
    right: 0px;
    top: -20px; }
  .site-container.user .experience-list li {
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 14px; }
    .site-container.user .experience-list li .experience-actions {
      position: absolute;
      right: 0px;
      top: 0px;
      display: none; }
      .site-container.user .experience-list li .experience-actions a {
        display: inline-block;
        vertical-align: top;
        zoom: 1;
        /* Fix for IE7 */
        *display: inline;
        /* Fix for IE7 */
        width: 24px;
        height: 24px; }
    .site-container.user .experience-list li:hover {
      background-color: #f8f8f8; }
      .site-container.user .experience-list li:hover .experience-actions {
        display: block; }
  .site-container.user .profile-contacts {
    text-align: center; }
    .site-container.user .profile-contacts .contact-link {
      display: inline-block;
      vertical-align: top;
      zoom: 1;
      /* Fix for IE7 */
      *display: inline;
      /* Fix for IE7 */
      width: 36px;
      height: 36px;
      margin-right: 10px;
      background: none;
      background-color: none;
      border: solid 1px #fff;
      color: #fff;
      line-height: 36px;
      text-align: center;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
      .site-container.user .profile-contacts .contact-link:hover {
        border: solid 1px #00a4ff;
        color: #00a4ff; }

/*# sourceMappingURL=style.css.map */
