<!-- list -->
<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs"></li>
	<li ui-sref-active="active">
   	 	<a ui-sref="app.dashboard"><i class="icon-home icon text-info-dker"></i>
	      	<span class="font-bold">Dashboard</span>
	    </a>
  	</li>
    
  	<li class="line dk"></li>

  	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
     	<span>Data</span>
  	</li>

  	<li ui-sref-active="active">
  		<a ui-sref="apps.school"><i class="icon-graduation icon text-info-dker"></i>
  			<span class="font-bold">Schools</span>
  		</a>
  	</li>

    <li ui-sref-active="active">
      <a ui-sref="apps.lga"><i class="fa fa-map-marker icon text-info-dker"></i>
        <span class="font-bold">Local Goverments</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="apps.cities"><i class="fa fa-building-o icon text-info-dker"></i>
        <span class="font-bold">Cities</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="apps.industries"><i class="fa fa-cubes icon text-info-dker"></i>
        <span class="font-bold">Industries</span>
      </a>
    </li>

    <li class="line dk"></li>

    <li ui-sref-active="active">
      <a ui-sref="app.users.group"><i class="icon-users icon text-info-dker"></i>
        <span class="font-bold">Users</span>
      </a>
    </li>
</ul>