@import "../setup.scss";

.site-container{
	position: relative;
	float: left;
	width: 100%;
	
	.footer{
		position: relative;
		float: left;
		width: 100%;
		background-color:$darkgrey;
		color:darken($grey, 50%);

		.nav{
			background-color: darken($darkgrey, 5%);

			a{
				color:darken($grey, 50%);

				&:hover{
					color:darken($grey, 20%);
				}
			}

			.large{

				a{
					padding: 0px 20px;
				}

			}

			.small{

				a{
					width: 100%;
				}

			}

			
		}
	}

	&.profile{

		.profile-bg{

			.profile-bg-olay{
				position: absolute;
				float: left;
				width: 100%;
				height: 100%;
				top: 0px;
				background-color: #000;
				opacity: 0.6;
			}

		}

		.edit-profile-options{
			position: absolute;
			left: 20px;
			top: 20px;
			z-index:10;

			.edit-option{
				position: absolute;
				top: 100%;
				float: left;
				width: 128px;
				background-color: #fff;
				margin: 0px;
				list-style: none;
				overflow: hidden;
				display: none;
				@include borderradius2(1px, 1px, 0px, 1px);

				li{
					position: relative;
					float: left;
					width: 100%;
					padding: 5px 8px;
					font-weight: bold;
					@extend %boxsizing;
				}
			}
		}

		.profile-menu{
			position: relative;
			margin: 0px;
			list-style: none;

			li{
				position: relative;
				float: left;
				border-top: solid 5px darken($blue, 5%); 
				@include transitions(all, 0.5s, ease);	

				&:hover{

					border-top: solid 5px $green; 

				}

				&.active{

					border-top: solid 5px $green;

				}			

				a{
					display: inline-block;
					vertical-align: top;
					zoom: 1; /* Fix for IE7 */
					*display: inline; /* Fix for IE7 */
					padding: 12px 18px;
					color: darken($grey, 40%);
					font-weight: 400;					
					//border-left:solid 1px $grey;
					//border-right:solid 1px $grey;
					//border-top:solid 1px $grey;
				}
			}
		}

		.main-profile-pic{
			
			@include boxshadow(0px, 0px, 15px, -2px, #000);
			width: 200px;
		}

		.profiles-filter-pane{
			display: none;

			.close-filter{
				position: absolute;
				right: 0px;
				bottom:0px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align:center;
			}
		}

		.profiles-loader{
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			text-align: center;
			z-index: 30;

			.bg-olay{
				z-index: 20;
			}


			.loader-icon{
				display: inline-block;
				vertical-align: top;
				zoom: 1; /* Fix for IE7 */
				*display: inline; /* Fix for IE7 */
				width: 48px;
				margin-top: 200px;
				z-index: 30;
				opacity: 1;
			}
		}

		.profiles-container{

			.profiles-image-container{
				position: relative;
				float: left;
				width: 100%;

				img{
					width: 40%;
					@include boxshadow(0px, 0px, 15px, -2px, #000);
				}
				
			}

			.item:hover{
				opacity: 0.9;
			}

		}

		

		.suggested-connections{

			>ul{
				position: relative;
				float: left;
				width: 100%;
				margin: 0px 0px;
				list-style: none;

				li:last-child{
					border-bottom: none;
				}

				li{
					position: relative;
					float: left;
					width: 100%;
					margin: 0px 0px;
					padding: 10px 12px;
					@extend %boxsizing;
					border-bottom: solid 1px $grey;

					.conn-cancel{
						position: absolute;
						right: 12px;
						top: 10px;
						height: 18px;
						width: 18px;
						line-height: 18px;
						text-align: center;
						background-color: darken($grey, 15%);
						color: #fff;
						font-size: $xxs-text;
						font-weight: 100;
						@include borderradius(100%);
						opacity: 0.6;
						@include transitions(all, 500ms, ease);
						z-index: 20;

						&:hover{
							opacity: 1;
						}
					}

					.conn-image{
						position: relative;
						float: left;
						width: 30%;
					}

					.conn-data{
						position: relative;
						float: left;
						width: 70%;
						padding-left: 10px;
						@extend %boxsizing;
					}	
					.conn-button{
						position: relative;
						float: left;
						width: 100%;
					}		
				}
			}
		}

		.profile-section{

			.add-button{
				position: absolute;
				right: 0px;
				top: -20px;
			}
			.ps-list{

				li{
					position: relative;
					float: left;
					width: 100%;
					padding: 10px 14px;
					@extend %boxsizing;

					.ps-actions{
						position: absolute;
						right: 0px;
						top: 0px;
						display: none;					

						a{
							display: inline-block;
							vertical-align: top;
							zoom: 1; /* Fix for IE7 */
							*display: inline; /* Fix for IE7 */
							width: 24px;
							height: 24px;
						}
					}

					&:hover{
						.ps-actions{
							display: block;					
						}

						background-color: lighten($grey, 2%);
					}
				}
			}
		}


		.profile-contacts{

			text-align: center;

			.contact-link{
				display: inline-block;
				vertical-align: top;
				zoom: 1; /* Fix for IE7 */
				*display: inline; /* Fix for IE7 */
				width: 36px;
				height: 36px;
				margin-right: 10px;
				background: none;
				background-color: none;
				border: solid 1px #fff;
				color: #fff;
				line-height: 36px;
				text-align: center;
				@include borderradius(100%);
				@include transitions(all, 500ms, ease);

				&:hover{
					border: solid 1px $blue;
				    color: $blue;
				}
			}
		}
	}

	&.jobs{

		img.corporation_image{
			display: inline-block;
			vertical-align: top;
			zoom: 1; /* Fix for IE7 */
			*display: inline; /* Fix for IE7 */
			border:solid 3px darken($grey, 5%);
			width: 64px;

		}


		.jobs-container{

			.item:hover{

				opacity:0.8;
			}
		}

		.corporation-background-photo{
			background-size:cover;
		}

		.apply-button{
			position: absolute;
			right: 20px;
			top: 20px;
		}

		.filter-pane{
			display: none;

			.close-filter{
				position: absolute;
				right: 0px;
				bottom:0px;
				width: 40px;
				height: 40px;
				line-height: 40px;
				text-align:center;
			}
		}

		.jobs-loader{
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			text-align: center;
			z-index: 30;

			.bg-olay{
				z-index: 20;
			}


			.loader-icon{
				display: inline-block;
				vertical-align: top;
				zoom: 1; /* Fix for IE7 */
				*display: inline; /* Fix for IE7 */
				width: 48px;
				margin-top: 200px;
				z-index: 30;
				opacity: 1;
			}
		}
	}
}